<div class="container">
<p>Listado de Personas</p>


<p>
    <!-- Interpolacion  {{variable}} -->
Nombre: {{nombre}}
<br>
Apellido: {{apellido}}
<br>
    <!-- Interpolacion Metodo  {{Metodo}} -->
Edad: {{getEdad()}}
    <!-- Interpolacion -->
</p>
<!-- Property Binding [propiedad]='variable'  -->

<button class="btn btn-primary" [disabled]='deshabilitar' >Agregar Persona</button>

<!-- Evento Keyup se ejecuta al levantar la tecla (keyup)='tiempo' -->
<div (keyup)='0'>
  <label>Repetidor:</label>
  <input #entrada type="text" class="form-control">
  {{entrada.value}}
</div>
</div>