<div class="container">
<p>Listado de Personas</p>


<p>
    <!-- Interpolacion  {{variable}} -->
Nombre: {{nombre}}
<br>
Apellido: {{apellido}}
<br>
    <!-- Interpolacion Metodo  {{Metodo}} -->
Edad: {{getEdad()}}
    <!-- Interpolacion -->
</p>
<!-- Property Binding [propiedad]='variable'  -->
<!-- Evento (click)="metodo" .... Al dar click ejecuta el metodo y muestra el nuevo mensaje asignado-->
<button class="btn btn-primary" [disabled]='deshabilitar'
(click)="agregarPersona()" >Agregar Persona</button>
<!-- Interpolación {{mensaje}} -->
<p> {{mensaje}} </p>


   <h1>ngIf</h1>
   <button class="btn btn-primary" [disabled]='deshabilitar'
    (click)="boton()" >Agregar Persona</button>
    <!-- Interpolación {{mensaje1}} y agregando directiva ngIf-else -->
    <p *ngIf="mostrar; else sinPersona" > {{mensaje1}} </p>
    <ng-template #sinPersona>
        <p>No se a presionado el botón</p>
    </ng-template>
    



<!-- Evento Keyup se ejecuta al levantar la tecla (keyup)='tiempo' -->
<div (keyup)='0'>
  <label>Repetidor:</label>
  <input #entrada type="text" class="form-control">
  {{entrada.value}}
</div>
</div>